footer {
  background-image: linear-gradient(to right, #8dc5c3, white);
  display: flex;
  justify-content: space-between; }
  footer h3, footer p {
    display: flex;
    justify-content: space-between;
    color: #555b6e;
    padding: 1rem; }

.logos__footer {
  text-decoration: none;
  color: #555b6e; }

.hover-footer, .btn-email:hover, .btn-twitter:hover, .btn-facebook:hover, .btn-instagram:hover, .btn-youtube:hover, .btn-whatsapp:hover {
  color: #fff;
  font-style: none;
  text-decoration: none;
  list-style-type: none; }

.btn-email:hover {
  background-color: #00acee; }

.btn-twitter:hover {
  background-color: #00acee; }

.btn-facebook:hover {
  background-color: #3b5998; }

.btn-instagram:hover {
  background-color: #dd2a7b; }

.btn-youtube:hover {
  background-color: #c4302b; }

.btn-whatsapp:hover {
  background-color: #00bb2d; }

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "div1" "div2" "div3"; }

.footer_div1 {
  grid-area: div1; }

.footer_div2 {
  grid-area: div2; }

.footer_div3 {
  grid-area: div3; }

@media screen and (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 50% 25%;
    grid-template-areas: "div1 div2 div3"; } }

/* SECCION CONTACTO */
.section__contacto {
  background-color: #ffffff;
  width: 50%; }

.titulo_contacto {
  width: 40%;
  margin-left: 5%; }

.form__coontacto {
  padding: 8rem;
  overflow: hidden;
  color: #555b6e; }

.form__contacto label,
.form__contacto input,
.form__contacto textarea,
.form__contacto select {
  display: inline-block;
  width: 100%;
  padding: 3px;
  margin: 5px;
  margin-bottom: 8px;
  text-align: center;
  color: #555b6e; }

.inline {
  display: inline;
  width: 50%; }

/* Estilos generales */
body {
  background-color: #faf9f9; }

* {
  margin: 0px;
  padding: 0px;
  font-family: "openSans";
  color: #555b6e; }

/* HEADER*/
ul {
  list-style-type: none; }
  ul li a {
    text-decoration: none;
    transition: all 1.5s; }
    ul li a:visited {
      color: #25737d; }
    ul li a:hover {
      background-color: #8dc5c3;
      padding-left: 12px;
      padding-right: 12px;
      transform: scale(1.1);
      transition: all 1s; }

@font-face {
  font-family: "openSansBold";
  src: url(../fonts/open-sans/OpenSans-Bold.ttf); }

@font-face {
  font-family: "openSans";
  src: url(../fonts/open-sans/OpenSans-Regular.ttf); }

.img__aebar {
  max-height: 200px;
  max-width: 350px;
  height: auto; }

.img__aebar:hover {
  height: 300px;
  width: 150px; }

.img__encabezado {
  width: 90%;
  height: auto;
  padding: 2%; }

.formNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-top: #555b6e; }

.formNav input,
.formNav label {
  padding: 3px;
  margin: 3px; }

header {
  text-align: center; }
  header h1 {
    text-align: center;
    font-size: large;
    font-family: "openSansBold";
    padding: 2%; }

.lista {
  list-style-type: none;
  text-decoration: none;
  color: #555b6e; }
  .lista .lista li a {
    list-style-type: none;
    text-decoration: none;
    color: #555b6e; }

main {
  background-color: #edeaea; }

.gris {
  text-decoration-color: #555b6e; }

.img__barra {
  width: 100%;
  height: auto;
  object-fit: contain; }

.img_ventana {
  width: auto;
  height: 100%;
  object-fit: cover; }

/* SECCION INDEX */
/* SECCION COMISIONES */
.contraste1:hover {
  color: #edeaea;
  background-color: #555b6e; }

.contraste2:hover {
  color: #faf9f9;
  background-color: #8dc5c3; }

.contraste3:hover {
  color: #8dc5c3;
  background-color: #555b6e; }

.centrar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px; }

/* SECCION GUIA */
.mainGuia {
  padding: 3%;
  background-color: #edeaea;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "divGuia1" "divGuia2" "divGuia3"; }

.divGuia1 {
  grid-area: divGuia1;
  display: flex;
  flex-direction: column;
  align-items: center; }

.divGuia2 {
  grid-area: divGuia2;
  display: flex;
  flex-direction: column;
  align-items: center; }

.divGuia2 ul {
  text-align: center;
  text-decoration: none;
  list-style: none; }

.divGuia3 {
  grid-area: divGuia3;
  display: flex;
  flex-direction: column;
  align-items: center; }

.divGuia4 {
  grid-area: divGuia4;
  display: flex;
  flex-direction: column;
  align-items: center; }

.divGuia5 {
  grid-area: divGuia5;
  display: flex;
  flex-direction: column;
  align-items: center; }

.divGuia6 {
  grid-area: divGuia6;
  display: flex;
  flex-direction: column;
  align-items: center; }

.divGuia7 {
  grid-area: divGuia7;
  display: flex;
  flex-direction: column;
  align-items: center; }

caption {
  padding: 20px;
  font-style: italic;
  font-size: small;
  caption-side: top;
  text-align: center; }

table {
  border: solid;
  width: 40%;
  margin: 2px;
  border-collapse: collapse; }

th,
tfoot,
td {
  border: solid;
  text-align: center; }

/* SECCION MUROS */
.mainMuros {
  padding: 3%;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto; }

.muros-facebook:hover {
  background-color: #3b5998;
  color: #ffffff; }

/* SECCION MEDIAQUERIES */
@media screen and (min-width: 768px) {
  .encabezado {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 100px;
    row-gap: 2px;
    column-gap: 2px;
    background-color: #ffffff;
    padding-bottom: 5px;
    grid-template-areas: "div__head1 div__head2 div__head2" "div__head3 div__head3 div__head3"; }
  nav ul {
    list-style-type: none;
    color: chocolate;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .formNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2px; }
  .img__encabezado {
    width: 100%;
    height: auto;
    max-height: 150px;
    width: auto; }
  .div__head2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    grid-area: div__head2; }
  .div__head1 {
    margin: 2opx;
    grid-area: div__head1;
    margin: 5px; }
  .div__head3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    grid-area: div__head3;
    margin: 5px; }
  .main__main {
    display: grid;
    background-color: #edeaea;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 200px 200px auto;
    grid-template-areas: "div__1 div__1 div__1" "div__2 div__3  div__3" "div__2 div__3 div__3" "div__4 div__4 div__4"; }
  .div__1 {
    grid-area: div__1;
    background-color: #edeaea;
    margin: 2px;
    margin: 10px; }
  .div__2 {
    grid-area: div__2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: #edeaea; }
  .div__3 {
    grid-area: div__3; }
  .div__4 {
    grid-area: div__4;
    background-color: #edeaea;
    padding: 5%;
    margin: 3px; }
  .img__barra {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; }
  .img__ventana {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .textoMain {
    text-align: justify; }
  .mainComisiones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 150px 150px;
    grid-template-areas: "divComisiones1 divComisiones1" "divComisiones2 divComisiones3" "divComisiones4 divComisiones5"; }
  .divComisiones1 {
    margin: 2px;
    margin: 10px;
    padding: 2%; }
  .mainGuia {
    padding: 3%;
    background-color: #edeaea;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas: "divGuia1 divGuia1" "divGuia2 divGuia3" "divGuia2 divGuia3"; } }
