footer {
    background-image: linear-gradient(to right, $color-principal, white);
    display: flex;
    justify-content: space-between;
    h3, p {
        display: flex;
        justify-content: space-between;
        color: $color-texto;
        padding: 1rem;

      }
  }

  .logos__footer{
    text-decoration: none;
    color: $color-texto;
  }

  .hover-footer{
    color: #fff;
    font-style: none;
    text-decoration: none;
    list-style-type: none;

  }
  
  @each $icono, $color in $colores-footer{
    .btn-#{$icono}:hover{
        @extend .hover-footer;
        background-color: $color;
        
    
    }
    
}
  

.footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "div1" "div2" "div3";
}
 
.footer_div1{
  grid-area: div1;
}

.footer_div2{
  grid-area: div2;
}

.footer_div3{
  grid-area: div3;
}


@media screen and (min-width: 768px){
    .footer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25% 50% 25%;
        grid-template-areas: "div1 div2 div3";
    }

}