footer {
    background-image: linear-gradient(to right, $color-principal, white);
    display: flex;
    justify-content: space-between;
    h3, p {
        display: flex;
        justify-content: space-between;
        color: $color-texto;
        padding: 1rem;

      }
  }

  .logos__footer{
    text-decoration: none;
    color: $color-texto;
  }

  .hover-footer{
    color: #fff;
    font-style: none;
    text-decoration: none;
    list-style-type: none;

  }
  
  @each $icono, $color in $colores-footer{
    .btn-#{$icono}:hover{
        @extend .hover-footer;
        background-color: $color;
        
    
    }
    
}
  