$color-principal: #8dc5c3;
$color-secundario: #90d6e0;
$color-texto: #555b6e;
$color-fondo: #faf9f9;
$color-fondo-secundario: #edeaea;


$colores-footer:(email:#00acee, twitter:#00acee, facebook: #3b5998, instagram: #dd2a7b, youtube: #c4302b, whatsapp: #00bb2d)



