@import "variables";
@import "footer";
@import "mixins";
@import "contacto";


  
  
  
    /* Estilos generales */


  body {
    background-color: $color-texto;
    background-image: url(../img/calabozocarcatura3.jpg);
    opacity: 0.97;
    
  }

  * {
    margin: 0px;
    padding: 0px;
    font-family: "openSans";
    color: $color-texto;
    text-align: justify;
  }
  
      /* HEADER*/

  .headTitulo{
    color: $color-fondo-secundario;
  }

  header{
    border-bottom: #000;
  }

  
  ul{
      list-style-type: none;
      li{
          a{
              text-decoration: none;
              text-align: center;
              
    
}
    &:hover {
    background-color: $color-fondo-secundario;
    border-radius: 5px;
    transform: scale(1.1);
    transition: all 1s;
  
  }
          }
      }
  

  .parallax-index{
    background: #000;
    background: linear-gradient(
      rgba(0,0,0, 0.3),
      rgba( 0,0,0,0.8)
    ),
    url(../img/ofilucas.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
  }

  .parallax-comisiones{
    background: #000;
    background: linear-gradient(
      rgba(0,0,0, 0.3),
      rgba( 0,0,0,0.8)
    ),
    url(../img/morenito.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
  }

  .parallax-guia{
    background: #000;
    background: linear-gradient(
      rgba(0,0,0, 0.3),
      rgba( 0,0,0,0.8)
    ),
    url(../img/torrecitas.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
  }

  .parallax-muros{
    background: #000;
    background: linear-gradient(
      rgba(0,0,0, 0.3),
      rgba( 0,0,0,0.8)
    ),
    url(../img/calabozo3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
  }

  .parallax-contacto{
    background: 
    url(../img/paisaje.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
  }

  

  




  @font-face {
    font-family: "openSansBold";
    src: url(../fonts/open-sans/OpenSans-Bold.ttf);
  }
  
  @font-face {
    font-family: "openSans";
    src: url(../fonts/open-sans/OpenSans-Regular.ttf);
  }

  

  
  
  
  .img__aebar {
    max-height: 200px;
    max-width: 350px;
    height: auto;
    
  }
  
  .img__aebar:hover {
    height: 300px;
    width: 150px;
  }
  
  .img__encabezado {
    width: 90%;
    height: auto;
    padding: 2%;
  }
  
  .formNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    
  }
  
  .formNav input,
  .formNav label {
    padding: 3px;
    margin: 3px;
  }
  
  header {
    text-align: center;
      h1 {
    text-align: center;
    font-size: large;
    font-family: "openSansBold";
    padding: 2%;
    
  }
}
  
  .lista{
      list-style-type: none;
      text-decoration: none;
      color: $color-texto;
      .lista li a{
        list-style-type: none;
        text-decoration: none;
        color: $color-texto;
        text-align: center;
      }
  }

  
  main {
    background-color: $color-fondo-secundario;
  }
  
  .gris{
    text-decoration-color: $color-texto;
  }
  

  .img__barra {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .img_ventana {
    width: auto;
    height: 100%;
    object-fit: cover;
  }
  

  /* SECCION INDEX */
  
  
  
  /* SECCION COMISIONES */


  .contraste1:hover{
    @include contraste($color-fondo-secundario, $color-texto)
  }
  .contraste2:hover{
    @include contraste($color-fondo, $color-principal)
  }
  .contraste3:hover{
    @include contraste($color-principal, $color-texto)
  }
  
  
  
  .centrar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }
  
  /* SECCION GUIA */
  
  .mainGuia {
    padding: 3%;
    background-color: $color-fondo-secundario;
    display: grid;
  }
  
  
  caption {
    padding: 20px;
    font-style: italic;
    font-size: small;
    caption-side: top;
    text-align: center;
  }
  
  table {
    border: solid;
    width: 40%;
    margin: 2px;
    border-collapse: collapse;
  }
  
  th,
  tfoot,
  td {
    border: solid;
    text-align: center;
  }

  .tbody{
    display: inline-block;
    overflow: scroll;
    height: 400px;
    width: auto;
    border-collapse: collapse
   
  }
  
  /* SECCION MUROS */
  
  .mainMuros {
    padding: 3%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  
  .muros-facebook:hover{
    background-color: map-get($colores-footer, facebook );
    color: #ffffff;
  }
  
  
  
  




 /* SECCION MEDIAQUERIES */

  @media screen and (min-width: 768px) {
    .encabezado {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 200px 100px;
      row-gap: 2px;
      column-gap: 2px;
      background-color: #ffffff;
      padding-bottom: 5px;
      grid-template-areas:
        "div__head1 div__head2 div__head2"
        "div__head3 div__head3 div__head3";
    }
  
    nav ul {
      list-style-type: none;
      color: chocolate;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .formNav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 2px;
    }
    .img__encabezado {
      width: 100%;
      height: auto;
      max-height: 150px;
      width: auto;
    }
  
    .div__head2 {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      grid-area: div__head2;
    }
  
    .div__head1 {
      margin: 2opx;
      grid-area: div__head1;
      margin: 5px;
    }
  
    .div__head3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      grid-area: div__head3;
      margin: 5px;
    }
  
    .main__main {
      display: grid;
      background-color: $color-fondo-secundario;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 150px 200px 200px auto;
      grid-template-areas:
        "div__1 div__1 div__1"
        "div__2 div__3  div__3"
        "div__2 div__3 div__3"
        "div__4 div__4 div__4";
    }
  
    .div__1 {
      grid-area: div__1;
      background-color: $color-fondo-secundario;
      margin: 2px;
      margin: 10px;
    }
  
    .div__2 {
      grid-area: div__2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2%;
      background-color: $color-fondo-secundario;
    }
  
    .div__3 {
      grid-area: div__3;
    }
    .div__4 {
      grid-area: div__4;
      background-color: $color-fondo-secundario;
      padding: 5%;
      margin: 3px;
    }
  
    .img__barra {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  
    .img__ventana {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    .textoMain {
      text-align: justify;
    }
    .mainComisiones {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 150px 150px 150px;
      grid-template-areas:
        "divComisiones1 divComisiones1"
        "divComisiones2 divComisiones3"
        "divComisiones4 divComisiones5";
    }
    .divComisiones1 {
      margin: 2px;
      margin: 10px;
      padding: 2%;
    }
  
    .mainGuia {
      padding: 3%;
      background-color: $color-fondo-secundario;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr 1fr;
      grid-template-areas:
        "divGuia1 divGuia1"
        "divGuia2 divGuia3"
        "divGuia2 divGuia3";
    }
  }
  